@import "../../../styles.scss";
.title {
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
}
.title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: $color4;
  margin: 8px auto 0 auto;
  border-radius: 2px;
}

.equipment-item {
  width: auto;
  height: auto;

  span {
    display: flex;
    gap: 15px;
    .bold {
      font-weight: bold;
      font-size: 24px;
    }
    p {
      font-size: 20px;
    }
  }
}

.equipment-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 20px;
}
