    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="container-text primary">
        <span>
          <label for="title" class="commun-label">Titre :</label>
          <input id="title" formControlName="name" type="text" placeholder="Titre" class="commun-input" />
        </span>
      
        <span>
          <label for="description" class="commun-label">Description :</label>
          <textarea id="description" formControlName="description" placeholder="Description" class="commun-input"></textarea>
        </span>
      </div>
      <div class="container-text secondary">
        <span>
          <label for="finalDate" class="commun-label">Date limite :</label>
          <input id="finalDate" formControlName="finalDate" type="date" class="commun-input"/>
        </span>
        <span class="duration-container">
          <label for="estimatedDuration" class="commun-label">Durée en jours :</label>
          <input id="estimatedDuration" formControlName="estimatedDuration" type="number" min="1" placeholder="1" class="commun-input"/>
        </span>
      </div> 
      <app-form-money label="Prime : " [money]="getMoney()" (moneyChange)="setMoney($event)"></app-form-money>

      <button type="submit" class="commun-btn">
        @if (initialData) {
          Mettre à jour la Requête
        }@else {
          Soumettre la Requête
        }
      </button>
    </form>


