@import "../../../styles.scss";

.form-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: $color3;
  padding: 2em;  
  box-shadow: inset 8px 8px 16px #093457, inset -8px -8px 16px #1370bd;
  border-radius: 20px;


  .container-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;

    span {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }


  label,
  .commun-label {
    color: white !important;
  }

  input,
  textarea {
    color: white !important;
  }

  textarea#description {
    min-height: 100px;
    max-height: 100px;
    resize: vertical;
  }

 

  .duration-label {
    font-size: 25px;
    color: white;
  }

  .duration-container {
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    gap: 1rem;

    input {
      width: 150px;
    }

  }

  button {
    padding: 0.75rem 3rem;
    margin: 1rem auto 0;
  }
}
