.equipment-item {
    border-radius: .5rem;
    border: 1px solid #eee;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #f9f9f9;

    span {
        display: flex;

        p {
            margin: 0;
        }
    }
}

.bold {
    font-weight: bold;
}