<div class="equipment-item commun-card">
  <h3 class="title">{{ equipment.name }}</h3>

  <div class="equipment-details">
    <span><label class="bold">Type :</label> <p>{{ equipment.equipmentType.name }}</p></span>
    <span><label class="bold">Coût :</label> <p>{{ equipment.cost }} Pc</p></span>
    <span><label class="bold">Durabilité :</label> <p>{{ equipment.maxDurability }}</p></span>
  </div>

  <div class="actions">
    <input class="commun-input" type="number" (change)="onQuantityChange($event)" min="0"  placeholder="Valeur stock" />
  </div>
</div>
