@import "../../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  width: 100%;
  background-color: $color4;
  padding: 1rem;
  overflow-y: auto;
}

.container-stocks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
  padding-bottom: 1rem !important;
}

.btn-new-stock {
  align-self: flex-start;
  text-decoration: none;
}

h2 {
  color: $color3;
  border-bottom: 3px solid $color2;
  display: inline-block;
  margin: 1rem 0;
  padding-left: 1rem;
}
