<section class="container">
  <a class="btn-new-stock commun-btn" routerLink="/equipments" routerLinkActive="active">
    Ajouter Équipement
  </a>
  <div class="container-stocks">
    @for (equipment of stockEquipments; track equipment.id) {
      <app-item-stock-equipment [equipment]="equipment"></app-item-stock-equipment>
    } @empty {
      <p>Aucun élément</p>
    }
  </div>

  <a class="btn-new-stock commun-btn" routerLink="/consumables" routerLinkActive="active">
    Ajouter Consommable
  </a>
  <div class="container-stocks">
    @for (consumable of stockConsumables; track consumable.id) {
      <app-item-stock-consumable [consumable]="consumable"></app-item-stock-consumable>
    } @empty {
      <p>Aucun élément</p>
    }
  </div>
</section>
