@import "../../../styles.scss";



.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    width: 100%;
    background-color: $color4 ;
    padding: 1rem;
}

.container-quest {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 1rem !important;
}

.btn-new-quest {
    align-self: flex-start;
    text-decoration: none;
}