<form class="form-main" [formGroup]="equipmentForm" (ngSubmit)="onSubmit()">
  <span class="left">
    <div class="form-group">
      <label for="name">Nom de l'équipement :</label>
      <input class="commun-input" id="name" formControlName="name" placeholder="Ex: Épée longue" />

      @if ((equipmentForm.get('name')?.touched || equipmentForm.get('name')?.dirty) && equipmentForm.get('name')?.invalid) {
        @if (equipmentForm.get('name')?.errors?.['required']) {
          <p class="error">Le nom est requis.</p>
        }
        @if (equipmentForm.get('name')?.errors?.['minlength']) {
          <p class="error">Le nom doit contenir au moins 3 caractères.</p>
        }
      }
    </div>

    <app-form-money label="Coût de l'équipement : " [money]="getMoney()" (moneyChange)="setMoney($event)"></app-form-money>

    @if ((equipmentForm.get('cost')?.touched || equipmentForm.get('cost')?.dirty) && equipmentForm.get('cost')?.invalid) {
      <p class="error">Le coût est requis.</p>
    }

    <div class="form-group">
      <label for="maxDurability">Durabilité maximale :</label>
      <input class="commun-input" id="maxDurability" type="number" formControlName="maxDurability" />

      @if ((equipmentForm.get('maxDurability')?.touched || equipmentForm.get('maxDurability')?.dirty) && equipmentForm.get('maxDurability')?.invalid) {
        <p class="error">La durabilité est requise (1 caractère min).</p>
      }
    </div>

    <button class="submit-btn commun-btn" type="submit" [disabled]="equipmentForm.invalid">
      {{ initialData ? "Modifier" : "Ajouter" }} l'équipement
    </button>
  </span>

  <span class="right">
    <div class="form-group">
      <label for="type">Type d'équipement :</label>

      <mat-form-field class="custom-form-field">
        <mat-select placeholder="Choisir un type" id="type" formControlName="equipmentTypeId" panelClass="select-panel">
          @for (type of equipmentTypes; track type.id) {
            <mat-option [value]="type.id">{{ type.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <button type="button" class="add-type-btn commun-btn" (click)="showTypePopup = true">
        Ajouter un type d'équipement
      </button>

      @if (showTypePopup) {
        <div class="popup-backdrop">
        <div class="popup">
          <div class="inner-form">
            <h3>Nouveau type d'équipement</h3>

            <input class="commun-input" type="text" formControlName="newTypeName" placeholder="Nom du type" />

            <div class="popup-actions">
              <button class="commun-btn" type="button" (click)="addNewEquipmentType()">Ajouter</button>
              <button class="commun-btn annuler" type="button" (click)="cancelPopup()">Annuler</button>
            </div>

            @if(newTypeError) {
              <p class="error">{{ newTypeError }}</p>
            }
          </div>
        </div>
      </div>
      }

      @if ((equipmentForm.get('equipmentTypeId')?.touched || equipmentForm.get('equipmentTypeId')?.dirty) && equipmentForm.get('equipmentTypeId')?.invalid) {
        <p class="error">Le type d'équipement est requis.</p>
      }
    </div>
  </span>
</form>
