.popup-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 6px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
}

.popup-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.error {
  color: red;
  margin-top: 10px;
}

.add-type-btn {
  margin: 5px 0 15px 0;
  display: block;
}
