@import "../../../styles.scss";

.container-consumables {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
  padding-bottom: 1rem !important;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100vh;
  width: 100%;
  background-color: $color4 ;
  padding: 1rem;
}

.btn-new-consumable {
  align-self: flex-start;
  text-decoration: none;
}

.btn-new-consumable-add-stock {
  align-self: flex-start;
  text-decoration: none;
}
