<form [formGroup]="adventurerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Nom:</label>
    <input id="name" formControlName="name" />
    @if ((adventurerForm.get('name')?.touched || hasSubmitted) && adventurerForm.get('name')?.invalid) {
    <p class="error">
      Le nom doit contenir au moins 3 caractères.
    </p>
    }
  </div>

  <div class="form-group">
    <label for="speciality">Spécialité:</label>
    <select id="speciality" formControlName="specialityId">
      @for (spe of specialities; track spe) {
      <option [value]="spe.id">{{ spe.name }}</option>
      }
    </select>
    @if ((adventurerForm.get('specialityId')?.touched || hasSubmitted) && adventurerForm.get('specialityId')?.invalid) {
    <p class="error">
      La spécialité est requise.
    </p>
    }
  </div>

  <div class="form-group">
    <label for="equipmentType">Type d'équipement:</label>
    <select id="equipmentType" formControlName="equipmentTypeIds" multiple>
      @for (type of equipmentTypes; track type) {
      <option [value]="type.id">{{ type.name }}</option>
      }
    </select>
    @if ((adventurerForm.get('equipmentTypeIds')?.touched || hasSubmitted) && adventurerForm.get('equipmentTypeIds')?.invalid)
    {
    <p class="error">
      Le type d'équipement est requis.
    </p>
    }
  </div>

  <div class="form-group">
    <label for="consumableType">Type de consommable:</label>
    <select id="consumableType" formControlName="consumableTypeIds" multiple>
      @for (type of consumableTypes; track type) {
      <option [value]="type.id">{{ type.name }}</option>
      }
    </select>
    @if ((adventurerForm.get('consumableTypeIds')?.touched || hasSubmitted) &&
    adventurerForm.get('consumableTypeIds')?.invalid) {
    <p class="error">
      Le type de consommable est requis.
    </p>
    }
  </div>
  <app-form-money label="Taux journalier : " [money]="getMoney()" (moneyChange)="setMoney($event)"></app-form-money>

  <button type="submit">Créer un aventurier</button>
</form>