@import "../../../styles.scss";

.error {
  color: #d32f2f;
  font-size: 0.8em;
  margin-top: 4px;
}

.form-main {
  display: flex;
  flex-direction: row;
  gap: 1em;
  background-color: $color3;
  box-shadow: inset 8px 8px 16px #093457, inset -8px -8px 16px #1370bd;
  border-radius: 20px;
  padding: 2em;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;


  label {
    font-size: 1em;
    color: $color4;
  }

  input {
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    transition: all 0.3s ease;

    &:focus {
      outline: $color3 solid 2px;
    }
  }
}

.left, .right {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}


//===== SELECTEUR =====
.custom-form-field {
  width: 100%;
}

#name {
  height: 3rem !important;
  color: $color4 !important;
}
::ng-deep .custom-form-field {

  .mat-mdc-form-field-flex {
    height: 35px;
    align-items: center;
    background-color: none !important;
  }

  .mat-mdc-select-placeholder {
    color: $color4;
    font-size: 15px;
  }

  .mat-mdc-select-value {
    color: $color4;
    font-size: 15px;
  }

  .mat-mdc-select-arrow {
    color: $color4;
  }

  .mat-mdc-form-field-underline,
  .mdc-line-ripple {
    display: none;
    background-color: $color4;
  }
}

::ng-deep .speciality-field {
  .mat-pseudo-checkbox {
    display: none !important;
  }
}

::ng-deep .select-panel {
  background-color: $color4 !important;
  border-radius: 10px !important;
  box-shadow: 0px 3px 6px rgb(0, 0, 0) !important;
  max-height: 300px;
  margin-top: 4px !important;

  .mat-mdc-option {
    font-size: 15px;
    padding: 12px 16px;
    min-height: 48px;
    transition: background-color 0.2s ease;
    color: $color3;
    background-color: $color4 !important;
    &:hover {
      background-color: darken($color4, 8%) !important;
    }

    &.mat-mdc-option-active,
    &.mdc-list-item--selected {
      background-color: $color4 !important;
      box-shadow: inset 2px 2px 4px rgb(0 0 0 / 0.2),
        inset -2px -2px 4px rgb(255 255 255 / 0.7) !important;
      border-color: $color3 !important;
      border: 2px solid;
    }
  }

  .mat-pseudo-checkbox {
    border-color: $color3 !important;
    background-color: $color4 !important;
    box-shadow: inset 2px 2px 4px rgb(0 0 0 / 0.2),
      inset -2px -2px 4px rgb(255 255 255 / 0.7) !important;
  }

  .mat-pseudo-checkbox-checked {
    background-color: $color3 !important;
    border-color: $color2 !important;
    box-shadow: inset 2px 2px 4px rgb(0 0 0 / 0.2),
      inset -2px -2px 4px rgb(255 255 255 / 0.7) !important;
}
}
//=====================

::ng-deep app-form-money {
  .input-money {
    width: 100% !important;
    font-size: 90% !important;
  }
}

.popup-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: $color3;
    box-shadow: inset 8px 8px 16px #093457, inset -8px -8px 16px #1370bd;
    border-radius: 20px;
    padding: 2em;
  }
}

.popup-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.add-type-btn {
  font-size: .5rem;
  padding: 2px 4px;
  width: 10rem;
  margin-top: -1rem;
  z-index: 2;
}