name: CI MAIN

on:
  pull_request:
    branches: ["main", "master"]
    types: [opened, synchronize]

jobs:
  front:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: buildx-front-${{ github.sha }}
          restore-keys: buildx-front-

      - name: Build test image
        working-directory: ./front
        run: docker build -t front:test -f Dockerfile.test .

      - name: Run tests
        run: docker run --rm front:test



  back:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Cache Docker layers
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: buildx-back-${{ github.sha }}
          restore-keys: buildx-back-

      - name: Build test image
        working-directory: ./back
        run: docker build -t back:test -f Dockerfile.test .

      - name: Run tests inside Docker
        run: docker run --rm back:test
  
  docker-compose-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Docker Compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          docker-compose version

      - name: Start services with Docker Compose
        run: |
          docker-compose up -d

      - name: Check services status
        run: docker-compose ps

      - name: Stop services
        run: docker-compose down

